In [2]:
xx = 34.0

In [3]:
type(xx)

float

In [4]:
xx = 17

In [5]:
type(xx)

int

In [6]:
mm = xx + xx

In [7]:
type(mm)

int

In [8]:
ss = "this is my string"

In [12]:
?ss.capitalize

In [13]:
help(ss.capitalize)

Help on built-in function capitalize:

capitalize(...) method of builtins.str instance
    S.capitalize() -> str

    Return a capitalized version of S, i.e. make the first character
    have upper case and the rest lower case.

In [14]:
ss.capitalize()

'This is my string'

In [15]:
ss.upper()

'THIS IS MY STRING'

In [17]:
ss.count("i")

3

In [27]:
ss.replace("t", "T")
#replaces the lower case t with upper case T

'This is my sTring'

In [29]:
species = "Hesperocyon nomodoggus"

In [30]:
species.split()

['Hesperocyon', 'nomodoggus']

In [31]:
species.split()[0]
#splits the sentence and shows the first one = 0

'Hesperocyon'

In [32]:
species.split("o")
#splits the whole sentence at "o"

['Hesper', 'cy', 'n n', 'm', 'd', 'ggus']

In [33]:
len(species)
# cannot do species.len because len is a built in function

22

In [34]:
species.upper()

'HESPEROCYON NOMODOGGUS'

In [40]:
"hesperocyon".upper()

'HESPEROCYON'

In [41]:
2 + 2

4

In [47]:
ws = "  "

In [48]:
ws + species

'  Hesperocyon nomodoggus'

In [49]:
human = ["Homo", "sapiens", "sapiens"]

In [50]:
"_".join(human)

'Homo_sapiens_sapiens'

In [51]:
s = "WHEN on board H.M.S.Beagle, as naturalist"

In [57]:
s.count("b")

1

In [63]:
s.upper().count("B")
#turns everything upper case

2

In [64]:
s.replace("WHEN", "When")

'When on board H.M.S.Beagle, as naturalist'